[Unit]
Description=ThermoPI Temp Reader
After=multi-user.target network.target

[Service]
User=root
Type=idle
ExecStart=/opt/ThermoPI/ThermoPI.py  > /dev/null 2>&1
KillSignal=SIGINT
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target